@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

div.fondo{
  /* background: url(../public/fondo6.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: lightblue;
  background-blend-mode: overlay; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

div.fondo img{
  width: 70%;
  height: 70%;
 
}